{
  "userSummaries": [
    {
      "id": "54778f48-9d4d-488d-8bae-a3eaaf5b9d2a",
      "outstandingFeeFineBalance": 10.0,
      "numberOfOpenFeesFinesForLostItems": 1,
      "numberOfLostItems": 1,
      "openLoans": [
        {
          "loanId": "6545fd94-90a5-4ea4-a426-95f50e599884",
          "dueDate": "2020-04-29T09:37:39.000+0000",
          "returnedDate": "2020-04-30T09:37:39.000+0000",
          "recall": false
        }
      ],
      "openAccounts": [
        {
          "accountId": "62f9bd92-c4cc-4523-b434-81ef09cd8bda",
          "balance": 10.0,
          "feeFineId": "fda05c38-d8db-4eab-8d02-abf59544e6ef"
        }
      ]
    },
    {
      "id": "fda05c38-d8db-4eab-8d02-abf59544e6ef",
      "outstandingFeeFineBalance": 20.0,
      "numberOfOpenFeesFinesForLostItems": 2,
      "numberOfLostItems": 2,
      "openLoans": [
        {
          "loanId": "953f4891-90c6-46a3-a6d1-b41565a4ea4b",
          "dueDate": "2020-04-29T09:37:39.000+0000",
          "returnedDate": "2020-04-30T09:37:39.000+0000",
          "recall": false
        }
      ],
      "openAccounts": [
        {
          "accountId": "615aed5e-ff4f-46ad-969a-846ac96e0514",
          "balance": 20.0,
          "feeFineId": "2a39b9bb-701d-42a7-977f-09822a4968f6"
        }
      ]
    }
  ],
  "totalRecords": 2
}
